* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.content {
  padding: 8px;
}

.content h1 {
  margin: 32px 0;
}

.left,.right {
  font-family: "HelveticaNeue-Light" !important;
  line-height: 10 / 7;
}

.comments {
  padding: 8px;
}

#vote {
  display: flex;
  font-size: 32px;
  line-height: 32px;
  padding: 8px;
  user-select: none;
}

#vote > .left {
  flex-grow: 1;
}

#vote > .right {
  flex-grow: 1;
  font-size: 16px;
  text-align: right;
}

.controls {
  position: fixed;
  top: calc(50% - 128px);
  left: calc(100vw - 48px);
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 256px;
  padding: 4px 0;
  background-color: #F3F3F3;
  border: 1px solid #AFB2B7;
}

button {
  background-color: #FDFDFD;
  border: none;
  box-shadow: none;
}

.btn:hover {
  background-color: #D7D8DA;
}

.btn:focus {
  background-color: #D7D8DA;
  outline: none;
}

.control-btn {
  background-color: #F3F3F3;
  width: 48px;
  height: 48px;
  font-size: 24px;
}

#sidebar-expansion {
  position: fixed;
  left: calc(100vw - 192px);
  width: 192px;
  background-color: #FDFDFD;
  border: 1px solid #AFB2B7;
}

#sidebar-expansion ul {
  padding: 0;
  margin: 0;
}

#sidebar-expansion li {
  width: 192px;
  height: 48px;
  padding-left: 8px;
  font-size: 16px;
  line-height: 48px;
  list-style-type: none;
  user-select: none;
}

#sidebar-expansion li:hover {
  background-color: #428BCA;
  color: #FDFDFD;
}

#sidebar-expansion .single-option {
  width: 192px;
  height: 48px;
  padding: 0 8px;
  font-size: 16px;
  line-height: 48px;
  user-select: none;
}

#sidebar-expansion input[type="checkbox"] {
  margin: 12px;
}

#sidebar-expansion input[type="number"] {
  border: none;
  height: 48px;
}

#choices {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn-block {
  max-width: 650px;
}

.btn-space{
  margin-right: 15px;
}

.btn-large, .btn-space, .btn-primary:visited, .btn-block, .btn-primary:hover, .btn-primary:active, .btn-primary {
  background-color: #BCBCBC !important;
  border-color: lightgrey !important;
}

#numberHolder {
	font-size: 75px;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.slider-container {
  display: flex;
  align-items: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 176px;
    height: 16px;
    background: #D3D3D3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #333333;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: #333333;
    cursor: pointer;
}
