* {
  box-sizing: border-box;
  font-family: 'HelveticaNeue-Light';
}

.col-l {
  flex-grow: 1;
  flex-basis: 25%;
}

.col-m {
  flex-grow: 2;
  flex-basis: 50%;
}

.col-r {
  flex-grow: 1;
  flex-basis: 25%;
}

.content {
  padding: 8px;
}

.comments {
  padding: 8px;
}

.controls {
  position: fixed;
  top: calc(50% - 128px);
  left: calc(100vw - 48px);
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 256px;
  padding: 4px 0;
  background-color: #F3F3F3;
  border: 1px solid #AFB2B7;
}

button {
  background-color: #FDFDFD;
  border: none;
  box-shadow: none;
}

.btn:hover {
  background-color: #D7D8DA;
}

.btn:focus {
  background-color: #D7D8DA;
  outline: none;
}

.control-btn {
  background-color: #F3F3F3;
  width: 48px;
  height: 48px;
  font-size: 24px;
}

#sidebar-expansion {
  position: fixed;
  left: calc(100vw - 192px);
  width: 192px;
  background-color: #FDFDFD;
  border: 1px solid #AFB2B7;
}

#sidebar-expansion ul {
  padding: 0;
  margin: 0;
}

#sidebar-expansion li {
  width: 192px;
  height: 48px;
  padding-left: 8px;
  font-size: 16px;
  line-height: 48px;
  list-style-type: none;
  user-select: none;
}

#sidebar-expansion li:hover {
  background-color: #428BCA;
  color: #FDFDFD;
}

#sidebar-expansion .single-option {
  width: 192px;
  height: 48px;
  padding-left: 8px;
  font-size: 16px;
  line-height: 48px;
  user-select: none;
}

#sidebar-expansion input[type="checkbox"] {
  margin: 12px;
}

.btn-block {
    max-width: 650px;
}

.btn-space{
    margin-right: 15px;
}

.btn-large, .btn-space, .btn-primary:visited, .btn-block, .btn-primary:hover, .btn-primary:active, .btn-primary {
    background-color: lightgray !important;
    border-color: lightgrey !important;
    border-radius: 10px !important;
}

#numberHolder {
	font-size: 75px;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.bottom5 { margin-bottom:5px; }
.bottom7 { margin-bottom:7px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom17 { margin-bottom:17px; }
.bottom30 { margin-bottom:30px; }
