<!DOCTYPE html>
<html ng-app="mainApp">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://use.fontawesome.com/a87eb3984a.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>

<title>that-one-big-story</title>
  <!-- CSS -->
<link href="../css/styleMain.css" rel="stylesheet">

</head>
<body ng-controller="MainCtrl">
    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>
    <script src="../js/index.js"></script>


  	<!-- Modal content -->
    <div id="myModal" class="modal">
      <div class="modal-content">
    	<span class="close" ng-click="closeModal()">&times;</span>
    	<div class="form-group">
    		<h3>Login</h3>
  			<label for="usr">Username:</label>
  			<input type="text" class="form-control" id="usr" ng-model="username">
		</div>
		<div class="form-group">
  			<label for="pwd">Password:</label>
 			<input type="password" ng-model="password" class="form-control" id="pwd">
        </div>
        <button id="loginButton">Sign Up</button>
      </div>
    </div>
      <!-- Modal content -->
    <div id="addUser" class="modal">  
      <div class="modal-content">
    	<span class="close" ng-click="closeAddUserModal()">&times;</span>
    	<div class="form-group">
    		<h3>Create New User</h3>
  			<label for="usr">Email:</label>
  			<input type="text" class="form-control" id="usr" ng-model="usernameSignUp">
		</div>
		<div class="form-group">
  			<label for="pwd">Password:</label>
 			<input type="password" ng-model="passwordSignUp" class="form-control" id="pwd">
        </div>
        <button id="signUpButton">Sign Up</button>
  	</div>

	</div>
    
    <div class="container-fluid" ng-style="pageStyle" ng-click="sidebarExpanded = false;">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 left">
            	<div id="numberHolder">
            		 {{currentPageNumber}} 
            	</div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div class="content" ng-style="storyStyle">
                    <h1 ng-bind="storyTitle"></h1>
                    <p ng-repeat="paragraph in storyContent track by $index">{{paragraph}}</p>
                </div>
                <div id="choices">
                    <button class="btn btn-block btn-primary" ng-repeat="choice in choices" ng-click="changePage($index)" type="button">{{choice}}</button>
                </div>
                <div id="vote">
                    <div class="left">
                        <span ng-click="rateUp()">
                            <i class="fa fa-angle-up" style="color: blue" aria-hidden="true"></i>
                        </span>
                        <span ng-click="rateDown()">
                            <i class="fa fa-angle-down" style="color: red" aria-hidden="true"></i>
                        </span>
                        <span>
                            {{currentRating}}
                        </span>
                    </div>
                    <div class="right">
                        <div id="report">
                            <a href="http://www.google.ca"><u>Report this story</u></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 right">
                <button ng-click="openModal()" ng-hide="ifUserLoggedIn">Login</button><button ng-click="addUserModal()" ng-hide="ifUserLoggedIn">Sign In</button>
                <button ng-click="logout()" ng-hide="!ifUserLoggedIn">Logout</button><div ng-hide="!ifUserLoggedIn">{{emailOfUser}}</div>
            </div>
        </div>
    </div>

    <aside class="controls">
        <div id="sidebar-expansion" ng-style="sidebarExpandedStyle" ng-if="sidebarExpanded" dynamic="sidebarContent"></div>
        <button class="btn control-btn" ng-click="sidebarExpand('font')">
            <i class="fa fa-font" aria-hidden="true"></i>
        </button>
        <button class="btn control-btn" ng-click="sidebarExpand('fontSize')">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <button class="btn control-btn" ng-click="sidebarExpand('nightMode')">
            <i class="fa fa-adjust" aria-hidden="true"></i>
        </button>
        <button class="btn control-btn" ng-click="sidebarExpand('lineHeight')">
            <i class="fa fa-text-height" aria-hidden="true"></i>
        </button>
    </aside>
</body>
</html>