<!DOCTYPE html>
<html ng-app="mainApp">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://use.fontawesome.com/a87eb3984a.js"></script>

<title>that-one-big-story</title>
  <!-- CSS -->
<link href="../css/styleMain.css" rel="stylesheet">

</head>
<body ng-controller="MainCtrl">
    <script  src="../js/index.js"></script>

    <style> 
        #buttonStoryChoices {
            position:relative;
            top: 100px;
            margin:auto;
            border-radius:10px;
        }
    </style>

    <div id="myModal" class="modal">

  	<!-- Modal content -->
  	<div class="modal-content">
    	<span class="close" ng-click="closeModal()">&times;</span>
    	<div class="form-group">
    		<h3>Login/Register</h3>
  			<label for="usr">Username:</label>
  			<input type="text" class="form-control" id="usr">
		</div>
		<div class="form-group">
  			<label for="pwd">Password:</label>
 			<input type="password" class="form-control" id="pwd">
		</div>
  	</div>

	</div>
    
    <div class="container-fluid" ng-style="storyStyle" ng-click="sidebarExpanded = false;">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            	<div id="numberHolder">
            		{{currentPageNumber}}
            	</div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <div id="story">
                    <h1> Chapter </h1>
                    <p>{{storyContent}}</p>
                </div>
                <element id="buttonStoryChoices">
                    <div class="span9 btn-block col-md-4 center-text" ng-repeat="suggestion in currentSuggestions">
                        <button class="btn btn-large btn-block btn-primary btn-space" ng-click="changePage" type="button">{{suggestion}}</button>
                    </div> 
                </element>
                <div id="subHolder">
                    <a href="http://www.google.ca"><u style="position:relative;top:220px;right:25%" > Report this story </u></a>
                </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><button ng-click="openModal()">Login</button></div>
        </div>
    </div>

    <aside class="controls">
        <div id="sidebar-expansion" ng-style="sidebarExpandedStyle" ng-if="sidebarExpanded" dynamic="sidebarContent"></div>
        <button class="btn control-btn" ng-click="sidebarExpand('font')">
            <i class="fa fa-font" aria-hidden="true"></i>
        </button>
        <button class="btn control-btn" ng-click="sidebarExpand('fontSize')">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <button class="btn control-btn" ng-click="sidebarExpand('nightMode')">
            <i class="fa fa-adjust" aria-hidden="true"></i>
        </button>
    </aside>
</body>
</html>